.sv_container .add-on,
.sv_container .btn,
.sv_container input, 
.sv_container select, 
.sv_container td,
.sv_container span {
  font-size: 12px;
}


.input-prepend, .input-append  {
  height : 30px;
}

.sv_container input {
  height : 28px;
  padding: 0px 4px;
}

.sv_region {
  float : left;
  padding : 1%;
  width: 98%;
  border : solid 1px #ddd;
  background-color: white;
}

.sv_site_input, .sv_row_input {
  width : 78px;
}

.sv_search_input {
  width : 300px;
}

.sv_toolbar {
  border-top: none;
}

.sv_midbar {
  overflow-x: scroll;
  background-color: white;
  border : solid 1px #ddd;
  border-top: none;
  float: left;
  padding: 0;
  width : 100%;
}

.sv_sequence_header_outer {
  border-right: solid 1px #ddd;
}

.sv_sequence_header {
  margin: 0px;
  padding : 0;
}

.sv_sequence_body {
  overflow-x : scroll;
  overflow-y: hidden;
  vertical-align: top;
  background-color: #eee;
  line-height: 0;
}

.sv_zoom_line {
  position: relative;
  top : -3px;
  width : 105px;
  display: inline-block;
  border-top: solid 1px #aaa;
}

.sv_zoom_slider {
  position: absolute;
  top: -5px;
  left: 0px;
  height: 10px;
  width : 5px;
  background-color: #333;
}

.sv_zoom_slider.clicked {
  background-color: #F55F77;
}

.sv_sequence_box, .sv_sequence_label, .sv_consensus_label {
  cursor: default;
}

.sv_sequence_label, .sv_consensus_label, .sv_protein_preview_label {
  font-size: 10px;
}

.sv_toolbar_table {
  margin: 10px 0px 0px 0px;
  background-color: #eee;
  border: solid 1px #ddd;
  z-index: 100;
}

.sv_toolbar_header {
  background-color: #ddd;
  font-weight: bold;
  font-size: 10px;
  color : #555;
  padding: 10px;
}

.sv_toolbar_table_header th {
  background-color: #ccc;
}

.sv_toolbar_table_inner {
  min-height: 150px;
  background-color: white;
  overflow: scroll;
}

.svfm_container, .svsc_container, .svae_container {
  display: none;
}

.svfm_body {
  padding: 10px;
}

.svfm_feature_table {
  border-radius: 0px;
  border-collapse: collapse;
}

/*
 * Multiple sequence viewer stylesheets
 */
.msv_sequence_header {
  border-top: solid 1px #eee;
  padding: 0px 3px;
  height: 20px;
  width: 100%;
  white-space: nowrap;
  cursor: pointer;
}

.msv_sequence_header.active {
  background-color: #49AFCD;
  color : white;
}

.msv_sequence_header:last-child {
  border-bottom: solid 1px #eee;
}

.msv_sequence_header_topbar {
  display: none;
  padding: 0;
  height: 30px;
}

.msv_sequence_header_topbar input[type="text"],
.msv_sequence_header_topbar .input-append .add-on {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.msv_sequence_header_topbar .input-append {
  height: 20px;
}

.msv_search_header_input {
  border : solid 1px #eee;
  width : 300px;
}

.msv_load_state {
  text-align: center;
  height: 100%;
  text-decoration: italic;
  background-color: white;
}

/*
 * Ambiguity Editor
 */
.svae_replacement_select {
  padding: 1px;
  width: 40px;
  margin: 0px;
}

/* HTML 5 Matter */
.sv_container svg {
  display: block;
}